:host {
    ion-card {
        margin: 0;
        border-radius: 0;
        ion-card-header {
            padding: 0;
        }
    }

    .interview
     {
         margin-bottom: 20px;
         .bold {
            font-weight: 700;
            font-size: 1.2em;
        }
         .legend {
             font-weight: 100;
             font-style: italic;
             padding-top: 10px;
         }
     }
     .text {
         font-weight: 300;
     }
}