<ion-content>
    <div class="large-header"></div>

    <div class="relative-content form">
        <ion-card class="margin-top">
            <div *ngIf="auth === false">
                <h1>Connexion</h1>
                <ion-list>
                    <ion-item>
                        <ion-label position="stacked">Username</ion-label>
                        <ion-input type="text" [(ngModel)]="username"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Mot de passe</ion-label>
                        <ion-input type="Password" [(ngModel)]="password"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-button expand="full" (click)="signIn()">Login</ion-button>
            </div>
            <div *ngIf="auth === true">
                <ion-item>
                    <ion-thumbnail slot="start">
                        <img [src]="currentUser.avatar" />
                    </ion-thumbnail>
                    <ion-label>
                        Bonjour {{currentUser.pseudo}}
                    </ion-label>
                </ion-item>
                <ion-button (click)="logout()">Déconnexion</ion-button>
            </div>
        </ion-card>
    </div>

</ion-content>