:host {
    .form {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.6em;
            font-weight: 600;
            color: var(--ion-color-primary);
        }
        ion-card {
            margin-top: 20px !important;
            width: 50%;
            margin: 25%;
            background: var(--ion-color-white);
            padding: 20px;
            ion-button {
                margin: 10px;
                border-radius: 0;
            }
            textarea {
                margin: 10px 0;
                padding: 10px;
                min-height: 150px;
                width: 100%;
            }
            @media (max-width: 1080px) and (orientation: portrait) {
                & {
                    width: 100%;
                }
            }
        }
    }
}