<ion-content>
    
    <div class="large-header animated" id="header"></div>
    <div class="relative-content margin-top form animated" id="content">
        <ion-card>
            <form [formGroup]="contactForm" (submit)="sendEmail()">
                <h1>Contact</h1>
                <ion-list>
                    <ion-item>
                        <ion-label position="stacked">Nom</ion-label>
                        <ion-input formControlName="lastName" type="text">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Prénom</ion-label>
                        <ion-input formControlName="firstName" type="text">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Email</ion-label>
                        <ion-input formControlName="email" type="text">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Sujet</ion-label>
                        <ion-input formControlName="subject" type="text">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Message</ion-label>
                        <textarea formControlName="message"></textarea>
                    </ion-item>
                </ion-list>
    
                <ion-button expand="full" type="submit" [disabled]="!contactForm.valid">
                    Envoyer
                </ion-button>
            </form>
        </ion-card>
    </div>
</ion-content>