<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div class="logo">
                <img src="assets/signature_white.png" alt="">
            </div>
        </ion-title>
        <ion-buttons slot="end" *ngIf="auth === true">
            <ion-button routerLink="/add-painting">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="gallery">
    <ion-segment [(ngModel)]="category">
        <ion-segment-button *ngFor="let cat of categories | async" [value]="cat.id" (click)="selectCategory(cat.id)">
            {{cat.name}}
        </ion-segment-button>
    </ion-segment>
    <ion-card>
        <div [ngSwitch]="category">
            <div *ngFor="let painting of paintings | async">
                <ion-list *ngSwitchCase="painting.category">
                    <ion-item class="item" (click)="viewLarge(painting.id, painting.path, painting.category)">
                        <ion-thumbnail slot="start">
                            <ion-img [src]="painting.path"></ion-img>
                        </ion-thumbnail>
                        <p>
                            {{painting.title}}
                        </p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-card>

</ion-content>