:host {
    .gallery {
        margin-top: 100px;
        .item-square {
            height: 250px;
            overflow: hidden;
            .thumbnail {
                width: 140%;
                height: auto;
                transition: all ease 0.5s;
            }
        }
        .item-square:hover {
            cursor: pointer;
            .thumbnail {
                width: 150%;
                transition: all ease 0.5s;
            }
        }
        @media screen and (orientation: portrait) {
            .item-square {
                width: 100%;
            }
        }
    }
}