:host {
    .image-container {
        height: 150px;
        overflow: hidden;
    }
 
    .one-image {
        margin: 2px;
    }
    ion-card {
        padding: 10px;
    }
    // ion-item, .item { 
    //     display: inline-block;
    //     //width: 25%;
    //     height: 80px;
    //     margin: auto;
    //     padding: 2px;
    //     ion-thumbnail {
    //         //width: 100%;
    //         width: auto;
    //         height: 100%;
    //     }
    //     button {
    //         display: none !important;
    //     }
    // }

    .ion-segment-button {
        border-radius: 0;
    }
}