:host {
    .thumb {
        text-align: right;
        img {
            width: 100%;
            height: auto;
        }
    }
    ion-button {
        margin: 10px;
        border-radius: 0;
    }
}