// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #A896CA;

  /** secondary **/
  --ion-color-secondary: #32db64;

  /** tertiary **/
  --ion-color-tertiary: #f4a942;

  /** success **/
  --ion-color-success: #10dc60;

  /** warning **/
  --ion-color-warning: #ffce00;

  /** danger **/
  --ion-color-danger: #f53d3d;

  /** light **/
  --ion-color-light: #f4f4f4;

  /** medium **/
  --ion-color-medium: #989aa2;
  
  /** dark **/
  --ion-color-dark: #222;
}