<ion-header no-shadow no-border>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <div class="logo" routerLink="/">
              <ion-button size="small" fill="clear" >
                <img src="assets/signature_white.png" alt="logo">
              </ion-button>
            </div>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button id="toggle-btn" (click)="toggleMenu(isOpen)">
                <ion-icon color="primary" name="menu" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div id="menu" class="menu-toggle">
  <ion-header id="close" class="animated" no-shadow no-border>
    <ion-toolbar color="dark">
      <ion-buttons slot="end">
        <ion-button (click)="toggleMenu(isOpen)">
          <ion-icon color="primary" name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <div class="item-list">
      <div class="item-menu" *ngFor="let p of appPages" (click)="toggleMenu(isOpen)" [routerDirection]="'root'"
          [routerLink]="p.url">
          <ion-label>
              {{p.title}}
          </ion-label>
          <div class="item-menu-after"></div>
        </div>
      </div>
  </ion-list>
</div>
<ion-router-outlet main></ion-router-outlet>
