<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button routerLink="/about">
                <ion-icon name="arrow-back" slot="start"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Modifier biographie</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list>
            <ion-item>
                <ion-label position="stacked">interview</ion-label>
                <ion-input [(ngModel)]="interview" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Auteur</ion-label>
                <ion-input [(ngModel)]="author" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Biographie</ion-label>
                <textarea [(ngModel)]="biography"></textarea>
            </ion-item>
        </ion-list>

        <ion-button expand="block" type="submit" (click)="updateBio()">
            Modifier
        </ion-button>
    </ion-card>
</ion-content>