:host {
    .form {
        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.6em;
            font-weight: 600;
            color: var(--ion-color-primary);
        }
        display: flex;
        justify-content: center;
        ion-card {
            margin-top: 20px !important;
            margin: auto;
            width: 80%;
            background: var(--ion-color-white);
            padding: 20px;
            textarea {
                margin: 10px 0;
                padding: 10px;
                min-height: 150px;
                width: 100%;
            }
        }
    }
}