<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button routerLink="/events">
                <ion-icon name="arrow-back" slot="start"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <div class="logo">
                <img src="assets/signature_white.png" alt="">
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <div class="header-news">
            <img class="thumb" [src]="(event | async)?.imagePath" alt="">
        </div>
        <ion-card-content>
            <ion-label>
                <h2>
                    {{(event | async)?.title}}
                </h2>
                <h3>
                    {{(event | async)?.subTitle}}
                </h3>
            </ion-label>
            <p>
                {{(event | async)?.content}}
            </p>
        </ion-card-content>
    </ion-card>
    <ion-footer>
        <ion-buttons class="start" *ngIf="auth === true">
            <ion-button (click)="deleteEvent()">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-footer>
</ion-content>