:host {
    ion-card {
        margin: 0;
        border-radius: 0;
        h2 {
            font-size: 1.4em;
            font-weight: 700;
        }
        h3 {
            font-size: 1.1em;
            font-weight: 500;
        }
    }
    .header-news {
        height: 300px;
        overflow: hidden;
        .thumb {
            width: 100%;
        }
    }
}