
<ion-content>
        <div class="large-header animated" id="header"></div>
        <div class="relative-content form animated" id="content">
            <ion-card>
                    <ion-button routerLink="/gallery">
                        <ion-icon slot="start" name="arrow-back"></ion-icon>Retour
                    </ion-button>
    
                    <ion-row>
                        <ion-col size-lg="6" size-md="6" size-sm="12">
                            <ion-item>
                                <ion-label position="stacked">Titre de l'oeuvre</ion-label>
                                <ion-input [(ngModel)]="title" type="text"></ion-input>
                            </ion-item>
                            <ion-item button (click)="openTechnic()">
                                <span>Technique : {{technic}}</span>
                            </ion-item>
                            <ion-item button (click)="openCategory()">
                                <span>Categorie : {{categoryName}}</span>
                            </ion-item>
                            <ion-item button (click)="openWidth()">
                                <span>Largeur : {{width}} cm</span>
                            </ion-item>
                            <ion-item button (click)="openHeight()">
                                <span>Hauteur : {{height}} cm</span>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">Prix de l'oeuvre</ion-label>
                                <ion-input [(ngModel)]="price" type="number"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col class="thumb" size-lg="6" size-md="6" size-sm="12">
                            <figure>
                                <img [src]="painting.thumb" alt="painting">
                            </figure>
                        </ion-col>
                    </ion-row>
        
                    <ion-button (click)="updatePainting(paintingId)">
                        Modifier l'oeuvre
                    </ion-button>
            </ion-card>
    </div>

</ion-content>