<ion-content class="body">
    <div class="large-header">
    </div>
    <ion-grid class="relative-content">
        <ion-row>
            <ion-col size="8">
                <div id="title">
                    <h1>Laurent <span class="bold">Botella</span></h1>
                    <h2> Artiste Peintre</h2>
                </div>
                <ion-card class="new-event" *ngFor="let event of events | async">
                    <div>
                        <ion-card-title class="title">
                            <h2>
                                {{event.title}}
                            </h2>
                        </ion-card-title>
                        <ion-card-content>
                            <h3>
                                {{event.subTitle}}
                            </h3>
                            <div class="next">
                                <ion-button color="secondary" fill="clear" class="btn-next" (click)="viewDetail(event)">
                                    Voir plus
                                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                                </ion-button>
                            </div>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col size="4">
                <div>
                    <img *ngIf="paintingTop" [src]="paintingTop.image" alt="" />
                    <ion-fab *ngIf="isAdmin" vertical="top" horizontal="end" color="primary">
                        <ion-fab-button (click)="updateImageHome(paintingTop.id)">
                            <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>