<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div class="logo">
                <img src="assets/signature.png" alt="">
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col class="btn" size="2" routerLink="/gallery">
            Galerie
        </ion-col>
        <ion-col size="10">
            <img *ngIf="paintingTop" [src]="paintingTop.image" alt="">
            <ion-fab *ngIf="auth === true" vertical="bottom" horizontal="end" color="primary">
                <ion-fab-button (click)="updateImageHome(paintingTop.id)">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <img *ngIf="paintingLeft" [src]="paintingLeft.image" alt="">
            <img *ngIf="!paintingLeft" src="assets/paintings/dancing.jpeg" alt="">
            <ion-fab *ngIf="auth === true" vertical="bottom" horizontal="end" color="primary">
                <ion-fab-button (click)="updateImageHome(paintingLeft.id)">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-col>
        <ion-col>
            <img *ngIf="paintingRight" [src]="paintingRight.image" alt="">
            <img *ngIf="!paintingRight" src="assets/paintings/foret.jpg" alt="">
            <ion-fab *ngIf="auth === true" vertical="bottom" horizontal="end" color="primary">
                <ion-fab-button (click)="updateImageHome(paintingRight.id)">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="10">
            <ion-card *ngFor="let event of events | async">
                <ion-card-title>
                    {{event.title}}
                </ion-card-title>
                <ion-card-content>
                    {{event.content}}
                    <span routerLink="/detail/{{event.id}}">Voir plus</span>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col class="copyright" size="2">
            <h2>2018</h2>
        </ion-col>
    </ion-row>
</ion-content>