<ion-header no-border no-shadow>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <div class="logo" routerLink="/">
                <ion-button size="small" fill="clear" >
                <img src="assets/signature_white.png" alt="logo">
                </ion-button>
            </div>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close" slot="start"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-grid fixed class="margin-top">
        <ion-row>
            <ion-col class="painting" size-lg="8" size-md="12" size-sm="12" size="12">
                <figure>
                    <img [src]="(painting | async)?.path" [alt]="(painting | async)?.title">
                </figure>
            </ion-col>
            <ion-col size-lg="4" size-md="12" size-sm="12">
                <ion-show-when platform="desktop">
                    <ion-card class="detail-painting">
                        <ion-card-title>
                            <h2>
                                {{(painting | async)?.title}}
                            </h2>
                        </ion-card-title>
                        <ion-card-content>
                            <h3>
                                {{(painting | async)?.technic}}
                            </h3>
                            <h5>Dimensions</h5>
                            <ul>
                                <li>Hauteur: {{(painting | async)?.height}} cm</li>
                                <li>Largeur: {{(painting | async)?.width}} cm</li>
                            </ul>
                            <h4 *ngIf="(painting | async)?.price > 0" >
                                {{(painting | async)?.price}} €
                            </h4>
                            <ion-button *ngIf="(painting | async)?.price > 0" expand="full" color="primary" (click)="addToCart()">
                                Ajouter au panier
                            </ion-button>
                        </ion-card-content>
                    </ion-card>
                </ion-show-when>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-footer *ngIf="isAdmin" >
        <ion-buttons class="start">
            <ion-button (click)="deletePainting()">
                <ion-icon color="primary" name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons class="end">
            <ion-button (click)="openEditForm(id)">
                <ion-icon color="primary" name="create"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-footer>
</ion-content>